  body {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
  }
  h1 {
    font-family: 'Bungee';
    color: #3b2685;
  }
